# Samruth Vennapusala
## Question 2
## January 16, 2022

<h1><center>------------------------Question 2------------------------</center></h1>

For this question youâ€™ll need to use SQL. Follow this link to access the data set required for the challenge. Please use queries to answer the following questions. Paste your queries along with your final numerical answers below.

a) __How many orders were shipped by Speedy Express in total?__  
b) __What is the last name of the employee with the most orders?__  
c) __What product was ordered the most by customers in Germany?__

<center>---------------------------------------------Answers---------------------------------------------</center>

### a) How many orders were shipped by Speedy Express in total?

### Query:

    SELECT COUNT(*) FROM [Orders]  
    WHERE [ShipperID] IS 1

__Output: 54__

Speedy Express had a total of 54 orders shipped.

### b) What is the last name of the employee with the most orders?

### Query:

    SELECT Orders.EmployeeID, LastName, count(Orders.OrderID) FROM [Employees]  
    INNER JOIN Orders ON Employees.EmployeeID=Orders.EmployeeID  
    GROUP BY Orders.EmployeeID   
    ORDER BY COUNT(Orders.OrderID) DESC LIMIT 1

__Output: Peacock__

The last name fo the employee with the most orders is Peacock.

### c) What product was ordered the most by customers in Germany?

### Query:
    SELECT Products.ProductID,ProductName,Country,SUM(OrderDetails.Quantity),COUNT(Products.ProductID)  
    FROM (Customers INNER JOIN Orders ON Customers.CustomerID = Orders.CustomerID   
            INNER JOIN OrderDetails ON Orders.OrderID = OrderDetails.OrderID  
            INNER JOIN Products ON OrderDetails.ProductID = Products.ProductID)  
            WHERE Country IN  ("Germany")  
    GROUP BY Products.ProductID   
    ORDER BY COUNT(Products.ProductID) DESC LIMIT 1
    
    or
    
    FROM (Customers INNER JOIN Orders ON Customers.CustomerID = Orders.CustomerID   
        INNER JOIN OrderDetails ON Orders.OrderID = OrderDetails.OrderID  
        INNER JOIN Products ON OrderDetails.ProductID = Products.ProductID)  
        WHERE Country IN  ("Germany")  
    GROUP BY Products.ProductID   
    ORDER BY SUM(OrderDetails.Quantity) DESC LIMIT 1

Most products ordered with regards to number of transactions:

__Output: ProductName = Gorgonzola Telino, ProductID = 31__
    
The product that was ordered the most by customers in Germany was Gorgonzola Telino (ProductID = 31), with a total of 5 orders (number of transactions).

Most products ordered with regards to Quantity of items:

__Output: ProductName = Boston Crab Meat, ProductID = 40__  

The product that was ordered the most by customers in Germany was Boston Crab Meat (ProductID = 40), with a total of 160 orders (quantity of items).